@font-face {
    font-family: 'roboto-regular';
    src: url('./fuentes/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('./fuentes/Roboto/Roboto-Bold.ttf');
}

/* ********************** CSS del index.html ********************** */

.body__index{
    font-family: 'roboto-regular';
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background-color: rgb(212, 230, 246);
}

.body__index > h1{
    margin-bottom: 0;
}

.body__index > form > input, .boton-password{
    width: 250px;
    height: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.body__index > form > .boton-password{
    width: 258px;
    height: 60px;
    font-family: 'roboto-regular';
    font-size: 1.65rem;
}


/* ************************ CSS de misa.html ************************ */

.body-datos{
    font-family: 'roboto-regular';
    font-size: 1.25rem;
    margin: 0;
}

.estilo-none{
    display: none;
}

#header{
    background-image: url('./images/patterns/background-1814372__480.webp');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flecha {
    background-color: aliceblue;
    border: 2.5px solid rgb(19, 0, 139);
    border-radius: 35px;
    text-decoration: none;
    color: rgb(37, 53, 158);
    font-size: 40px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: 150px;
    margin-bottom: 20px;
    /* https://codepen.io/CodeXYZ/pen/xbdxyO */
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.flecha:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    background-color: pink;
    color: rgb(213, 40, 167);
    border: 2px solid rgb(213, 40, 167);
}

#main{
    height: 100vh;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

#boton__invitados-opciones{
    width: 45vw;
    height: 80px;
    background-color: rgb(178, 210, 247);
    border: 2px solid darkgray;
    border-radius: 5px;
    font-size: 1.35rem;
    margin: 15px 5px;
    text-transform: uppercase;
    font-family: 'roboto-regular';
    font-weight: bold;
}

#boton__invitados-opciones:hover{
    background-color: antiquewhite;
}

.datos-detallados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.datos-detallados > h2, p{
    text-align: center;
    margin: 10px;
}

.negrita{
    font-family: 'roboto-bold';
}

.resaltado{
    background-color: yellow;
}

.iframe{
    display:block;
    margin: 0 auto;
}

.calle{
    text-align: center;
    padding-bottom: 30px;
    font-size: 1rem;
}

.link-restaurante{
    text-decoration: none;
    color: inherit;
}

#footer{
    height: 90px;
    padding-top: 18px;
    background-color: plum;
    font-family: 'roboto-bold';
    color: whitesmoke;
}


/* **************** MEDIAQUERIES PARA EL RESPONSIVE *************** */

@media (max-width: 450px){
    .grande, .mediano{
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 960px){
    .pequeño, .grande{
        display: none;
    }
}

@media (min-width: 960px){
    .pequeño, .mediano{
        display: none;
    }

    #main{
        max-width: 600px;
        display: block;
        margin: 0 auto;
    }

    #boton__invitados-opciones{
        width: 395px;
        height: 80px;
    }
}